<!-- container for product filter options -->
<div class="row">
  <!-- SORT -->
  <div (change)="onChooseSort($event)" class="col s6 m6 l6">
    <label>Sort</label>
    <select class="browser-default">
      <option value="Price" selected>Price</option>
      <option value="Name">Name</option>
      <option value="Date">Date</option>
    </select>
    <div class="switch">
      <label>
        DESC
        <input type="checkbox">
        <span class="lever"></span>
        ASC
      </label>
    </div>
  </div>

  <!-- FILTERS -->
  <!-- Price Filters -->
  <div class="form-group col s6 m6 l6">
    <div class="input-field col s6">
      <input type="number"
        pattern="^\d{1,8}(?:\.\d{1,2})?$"
        [(ngModel)]="min"
        (ngModelChange)="onPriceFilterChange($event)"
        id="price-min"
        type="text"
        class="form-control validate"
      >
      <label for="price-min" data-error="Req: numbers only, up to 2 decimals">
        Min Price
      </label>
    </div>
    <div class="input-field col s6">
      <input type="number"
        pattern="^\d{1,8}(?:\.\d{1,2})?$"
        [(ngModel)]="max"
        (ngModelChange)="onPriceFilterChange()"
        id="price-max"
        type="text"
        class="form-control validate"
      >
      <label for="price-max" data-error="Req: numbers only, up to 2 decimals">
        Max Price
      </label>
    </div>
    <small *ngIf="min > max">
      Invalid Input Min must be less than Max
    </small>

    <!-- Phrase Filter -->
    <div class="input-field col s6">
      <input type="text"
        pattern="/^[A-Za-z]+$/"
        [(ngModel)]="phrase"
        (ngModelChange)="onPhraseFilterChange()"
        placeholder="Words"
        id="word-filter"
        class="form-control validate"
      >
      <label for="word-filter">
        Filter by Words
      </label>
    </div>
  </div>
</div>
